@{
    ViewBag.Title = "Contact";
}
<h3>Контакт</h3>

<address>
    Александр Бухалко<br />
    <strong>Поддержка продукта:</strong>   <a href="mailto:sanek_buh@mail.ru" style="color: black">sanek_buh@mail.ru</a><br />
    <abbr title="Phone">Телефон:</abbr>
    +79122241163
</address>