@{
    ViewBag.Title = "Home Page";
}
<p></p>
<h3>Парсинг статей автора с сайта Scopus</h3>

@using (Ajax.BeginForm("SearchAuthorInfo", new AjaxOptions { UpdateTargetId = "info", LoadingElementId = "Loading", LoadingElementDuration = 500 }))
{
    <p></p>
    <P>Введите ID автора</P>
    <div class="input-group">
        <input class="form-control" type="text" name="authorID" />
        <input class="btn btn-secondary" type="submit" name="Найти" />
    </div>
    
}
<br/>
<img id="Loading" src="@Url.Content("~/Content/Images/loading.gif")" style="display:none; width: 5%; height: 5%;" />
<div id="info"></div>